.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.amplify-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.amplify-button {
  border: none;
  background-color: #6494a4;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  align-items: center;
}


[data-amplify-authenticator] {
  text-align: center;
  display: flex;
  min-height: 101vh;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-position: center;
  background-size: cover;
  color: white;
}

/**/
[data-amplify-router-content] {
  height: 500px;
  border-style: groove;
  border-color: black;
  border-radius: 15px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.amplify-flex {
  border: none;
  margin-top: 15px;
}

.amplify-input {
  display: flex;
  background-color: bisque;
  height: 40px;
  width: 300px;
  border: 10px;
  border-radius: 15px;
  align-items: center;
}

.amplify-label {
  display: flex;
  font-weight: bold;
}

.amplify-tabs-item {
  border: none;
  background-color: #6494a4;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  color: whitesmoke;
  text-align: center;
  margin-top: 15px;
  margin-right: 10px;
  position: relative;
  top: 560px;
}

.amplify-icon {
  margin-left: 10px;
  margin-bottom: 10px;
}

.amplify-field__show-password {
  margin-left: 40px;
  display: flex;
}